body{
    background-color:rgb(104, 81, 100)
}

table, th , td {
    border: 2px solid rgb(161, 134, 122);
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
td {
  text-align: center;
}
th{
    text-align:center;
}
nav ul{
    display: flex;
    gap: 10px;
list-style-type: none;
}

nav ul a{
text-decoration: none;
color: burlywood;
}
nav li:hover{
    background-color:rgb(116, 87, 87);
    
}

input{
    background-color: rgb(161, 134, 122);
    color: bisque; 
}
::placeholder {
  color: bisque;
}
input{
    cursor: pointer;
}

nav ul{
    display: flex;
    gap: 10px;
list-style-type: none;
}

nav ul a{
text-decoration: none;
color: burlywood;
}
nav li:hover{
    background-color:rgb(116, 87, 87);
    
}
